{% extends 'ATMPollBundle:Poll:base.html.twig' %}

{% block atm_poll_stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/atmpoll/css/jquery-ui.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/atmpoll/css/jquery-ui.theme.min.css') }}" type="text/css"/>
    <style>
        .ui-state-default{width: 100% !important;text-align: center !important;}
        .fr-view {font-family:"Quicksand", sans-serif !important;}
    </style>
{% endblock atm_poll_stylesheets %}

{% block atm_poll_content %}
    <form action="{{ path('atm_poll_create') }}" method="post" id="frmPoll">
        <h1>New Poll</h1>
        <div class="half" style="float: none;display: block;margin: 0 auto;">
            <fieldset>
                {{ form_widget(form.name) }}
            </fieldset>
            <fieldset>
                {{ form_widget(form.init_date) }}
            </fieldset>
            <fieldset>
                {{ form_widget(form.end_date) }}
            </fieldset>
            <fieldset>
                {{ form_widget(form.description) }}
            </fieldset>
            <fieldset>
                {{ form_widget(form.max_number_votes) }}
            </fieldset>
        </div>
        <div class="clear"></div>
        <input type="submit" class="but blue" value="Save">
        {{ form_rest(form) }}
    </form>
{% endblock atm_poll_content %}

{% block atm_poll_javascripts %}
    <script src="{{ asset('bundles/atmpoll/js/jquery-ui.min.1121.js') }}"></script>
    <script>
        $( function() {
            var forbidden_dates = '{{ forbiddenDates | escape('js') }}';
            var dateFormat = "dd/mm/yy",
            from = $("#poll_init_date")
                .datepicker({
                    dateFormat: dateFormat,
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 3,
                    beforeShowDay: function(date){
                        var string = $.datepicker.formatDate('dd-mm-yy', date);
                        return [ forbidden_dates.indexOf(string) == -1 ]
                    }
                }).on("change", function () {
                    to.datepicker("option", "minDate", getDate(this));
                }),
            to = $("#poll_end_date").datepicker({
                dateFormat: dateFormat,
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 3,
                beforeShowDay: function(date){
                    var string = $.datepicker.formatDate('dd-mm-yy', date);
                    return [ forbidden_dates.indexOf(string) == -1 ]
                }
            }).on("change", function () {
                from.datepicker("option", "maxDate", getDate(this));
            });
        });
        function getDate( element ) {
            var date;
            try {
                date = $.datepicker.parseDate( dateFormat, element.value );
            } catch( error ) {
                date = null;
            }

            return date;
        }
    </script>
{% endblock atm_poll_javascripts %}