{% extends 'ATMPollBundle:Poll:base.html.twig' %}

{% block atm_poll_content %}
    <div class="polls">
    {% if polls | length > 0 %}
        <table id="tblPolls">
            <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Init Date
                </th>
                <th>
                    End Date
                </th>
                <th>
                    Name
                </th>
                <th>Votes per User</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for poll in polls %}
                {% include 'ATMPollBundle:Poll/item:poll.html.twig' with { 'poll' : poll } %}
            {% endfor %}
            </tbody>
        </table>
        {% if pagination is not null %}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% endif %}
    {% else %}
        <div class="no_results">No polls to show</div>
    {% endif %}
    </div>
    {#{ render(controller('ATMPollBundle:Poll:showPoll',{
        'pollId' :  1
    })) }#}
{% endblock atm_poll_content %}

{% block atm_poll_popups %}
    <div class="modal fade" id="popDeletePoll" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 style="font-weight: bold;">Delete item</h1>
                    <a class="close" data-dismiss="modal" aria-label="Close" >
                        <span aria-hidden="true">X</span>
                    </a>
                </div>
                <div class="modal-body">
                    <p style="margin-bottom: 15px;">This action will delete all the items it's images and it's votes. Are you sure to the delete the poll.</p>
                    <a class="but blue" onclick="$('#popDeletePoll').modal('hide');">Close</a>
                    <a class="but red" id="popDelPoll" style="float: right;">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endblock atm_poll_popups %}

{% block atm_poll_javascripts %}
    <script src="{{ asset('bundles/atmpoll/plugins/bootstrap/modal/modal.js') }}"></script>
    <script src="{{ asset('bundles/atmpoll/plugins/bootstrap/modal/bootstrap.bundle.js') }}"></script>
    <script>
        $('.btnDelete').click(function(){
            var pollId = $(this).attr('data-id');

            $('#popDelPoll').attr('href',Routing.generate('atm_poll_delete',{ 'pollId': pollId }));
            $('#popDeletePoll').modal('show');
        });
    </script>
{% endblock atm_poll_javascripts %}