{% extends 'ATMPollBundle:Poll:base.html.twig' %}

{% block atm_poll_content %}
    <div class="polls">
        <table id="tblPolls">
            <thead>
            <tr>
                <th>
                    Username
                </th>
                <th>
                    Voted at
                </th>
                <th>
                    Poll Name
                </th>
            </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>
                        {{ user.username }}
                    </td>
                    <td>
                        {{ voteDate[user.id] | date('d/m/Y H:i:s') }}
                    </td>
                    <td>
                        {{ poll.name }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if pagination is not null %}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% endif %}
    </div>
{% endblock atm_poll_content %}