<tr>
    <td>
        {{ poll.id }}
    </td>
    <td>
        {{ poll.init_date | date('d/m/Y') }}
    </td>
    <td>
        {{ poll.end_date | date('d/m/Y') }}
    </td>
    <td>
        {{ poll.name | title }}
    </td>
    <td>
        {{ poll.max_number_votes }}
    </td>
    <td>
        <a href="{{ path('atm_poll_edit',{ 'pollId':poll.id }) }}" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
        <a href="{{ path('atm_poll_add_item',{ 'pollId':poll.id }) }}" title="Add / Edit Items"><i class="fa fa-plus-circle"></i></a>
        <a href="{{ path('atm_poll_users_voted',{ 'pollId':poll.id }) }}" title="Users voted in that poll"><i class="fa fa-user-circle"></i></a>
        <a class="btnDelete" data-id="{{ poll.id }}" title="Delete"><i class="fa fa-times-rectangle"></i></a>
    </td>
</tr>